@{
    Layout = "";
}
@model Nop.Plugin.Payments.Platron.Models.ConfigurationModel
@using Nop.Web.Framework;
@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <b>If you're using this gateway ensure that your primary store currency is supported by Platron</b><br/>
                    <b>For plug-in configuration, you must perform the following actions:</b>
                    <ul>
                        <li>Sign up on the website Platron.ru</li>
                        <li>Sign in to your personal cabinet</li>
                        <li>Fill out the field «Platron Merchan ID» and «Secret key»</li>
                    </ul>
                </p>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.MerchantIdOverrideForStore, model => model.MerchantId, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.MerchantId)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.MerchantId)
                        @Html.ValidationMessageFor(model => model.MerchantId)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.SecretKeyOverrideForStore, model => model.SecretKey, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.SecretKey)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.SecretKey)
                        @Html.ValidationMessageFor(model => model.SecretKey)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.TestingModeOverrideForStore, model => model.TestingMode, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.TestingMode)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.TestingMode)
                        @Html.ValidationMessageFor(model => model.TestingMode)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.DescriptionTemplateOverrideForStore, model => model.DescriptionTemplate, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.DescriptionTemplate)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.DescriptionTemplate)
                        @Html.ValidationMessageFor(model => model.DescriptionTemplate)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.AdditionalFeeOverrideForStore, model => model.AdditionalFee, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.AdditionalFee)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AdditionalFee)
                        @Html.ValidationMessageFor(model => model.AdditionalFee)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.AdditionalFeePercentageOverrideForStore, model => model.AdditionalFeePercentage, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.AdditionalFeePercentage)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AdditionalFeePercentage)
                        @Html.ValidationMessageFor(model => model.AdditionalFeePercentage)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
}